{% extends 'conex/Encabezado_chofer.html' %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
    <title>Viajes</title>
</head>
<body>
    <section class="viajes_contenedor_principal">
        <div class="viajes_contenedor_titulo">
            <h2 class="viajes_titulo">Mis viajes</h2>
        </div>
        <div class="viajes_contenedor_contenido">
            {% for viaje in viajes %}
            <div class="viajes_contenedor_viaje" data-chofer="{{ viaje.chofer }}"> 
                <div class="viajes_contenedor_imagen">
                    <p>Aquí va una imagen</p>
                </div>
                <div class="viajes_contenedor_informacion">
                    <p class="viajes_informacion">
                        <strong>Unidad:</strong> {{ viaje.camion }} <br>
                        <strong>Origen:</strong> {{ viaje.origen }} <br>
                        <strong>Destino:</strong> {{ viaje.destino }} <br>
                        <strong>Cliente:</strong> {{ viaje.cliente }}
                    </p>
                </div>
                <div class="viajes_contenedor_boton">
                    <a href="/evidencia/{{ viaje.id }}" class="viajes_boton_noiniciado">Ver detalles</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
{% endblock %}