{% extends 'conex/Encabezado_chofer.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
    <title>Subir Evidencia</title>
  </head>
  <body>
    <section class="evidencia_contenedor_principal">
      <div class="evidencia_contenedor_titulo">
        <h2 class="evidencia_titulo">Evidencia</h2>
      </div>
      <div class="evidencia_contenedor_contenido">
        <div class="evidencia_contenedor_formulario">
          <form action="$" method="post">
            <div class="evidencia_contenedor_formulario_inputs">
              <div class="evidencia_contenedor_boton_enviar">
                <button type="submit" class="boton_enviar">Enviar</button>
                <a href="/viajesDisponibles/" class="boton_regresar">Regresar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}
