{% extends 'conex/Encabezado_chofer.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {%load static%}
        <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
        <title>Menú</title>
    </head>
    <body>
        <section class="menu_contenedor_principal">
            <div class="menu_contenedor_titulo">
                <h2 class="menu_titulo">Bienvenido "usuario"</h2>
            </div>
            <div class="menu_contenedor_contenido">

                <div class="menu_contenido_enlace">
                    <div class="menu_contenedor_enlace_imagen">
                        <img src="{% static 'TransporteApp/chofer_viajes.png' %}" class="menu_chofer_viajesDisponibles" alt="Viajes disponibles del chofer">
                    </div>
                    <div class="menu_contenedor_enlace_titulo">
                        <a href="/viajesDisponibles/?id={{ id }}"><div>Viajes Disponibles</div></a>
                    </div>
                </div>

                <div class="menu_contenido_enlace">
                    <div class="menu_contenido_enlace_juntos">
                            <a href="/reportes/">
                            <div class="menu_contenedor_enlace_imagen">
                                <img class="menu_chofer_viajesDisponibles" src="{% static 'TransporteApp/chofer_reporte.png' %}" alt="Reportar algún problema">
                            </div>
                            <div class="menu_contenedor_enlace_titulo">
                                <div class="menu_enlace_titulo">Reportar Problema</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </body>
</html>
{% endblock %}
