<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
    <title>Iniciar Sesión</title>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore-compat.js"></script>

    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyCDdHMlS8qfiiVfdFvQIe3GoiZVssLCkMM",
        authDomain: "tgvg-foraneos.firebaseapp.com",
        databaseURL: "https://tgvg-foraneos.firebaseio.com",
        projectId: "tgvg-foraneos",
        storageBucket: "tgvg-foraneos.appspot.com",
        messagingSenderId: "230877081732",
        appId: "1:230877081732:web:b78113f20ad5cb699412d1",
        measurementId: "G-KFXQZZJCJJ",
      };

      // Inicializa Firebase
      firebase.initializeApp(firebaseConfig);

      // Inicializa Firestore y Auth
      const auth = firebase.auth();
      const db = firebase.firestore(); // Inicializa Firestore

      // Redirigir si ya hay una sesión iniciada
      auth.onAuthStateChanged((user) => {
        if (user) {
          // Hay un usuario con sesión iniciada
          db.collection("usuarios")
            .where("email", "==", user.email)
            .get()
            .then((querySnapshot) => {
              if (!querySnapshot.empty) {
                const doc = querySnapshot.docs[0];
                const tipoUsuario = doc.data().tipo;
                if (tipoUsuario === 1) {
                  window.location.href = "/menu/monitorista";
                } else if (tipoUsuario === 3) {
                  window.location.href = "/menu/chofer";
                } else {
                  alert("Tipo de usuario no válido");
                }
              } else {
                alert("El usuario no existe");
              }
            })
            .catch((error) => {
              console.error("Error al obtener el tipo de usuario: ", error);
            })
            .finally(() => {
              // Ocultar la pantalla de carga al final
              document.getElementById("loading-screen").style.display = "none";
            });
        } else {
          // No hay sesión iniciada, ocultar la pantalla de carga
          document.getElementById("loading-screen").style.display = "none";
        }
      });
    </script>
    
    <!-- Loader -->
    <script>
      window.addEventListener("load", () => {
        const loader = document.querySelector(".content-loader");

        loader.classList.add("content-hidden")

        loader.addEventListener("transitionend", () => {
          document.body.removeChild(loader);
        });
      });
    </script>
  </head>

  <body>
    <div class="content-loader">
      <div class="loader"></div>
    </div>

    <section class="contenedor_principal">
      <div class="contenedor_logo">
        <img
          src="{% static 'TransporteApp/logo.png' %}"
          class="logo"
          alt="Logo de la empresa"
        />
      </div>

      <div class="contenedor_formulario">
        <div class="contenedor_formulario_titulo">
          <h2 class="formulario_titulo">Bienvenido!</h2>
        </div>
        <div class="contenedor_formulario_cuerpo">
          <form id="login-form">
            {% csrf_token %}
            <div class="contenedor_formulario_inputs">
              <label for="username">
                <span class="input_titulo"> Email </span>
              </label>
              <div class="contenedor_input_contenido">
                <input
                  type="text"
                  class="input_contenido"
                  name="email"
                  id="email"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="contenedor_formulario_inputs">
              <label for="password">
                <span class="input_titulo"> Contraseña </span>
              </label>
              <div class="contenedor_input_contenido">
                <input
                  type="password"
                  class="input_contenido"
                  name="password"
                  id="password"
                  placeholder="Contraseña"
                />
              </div>
            </div>

            <div class="contenedor_formulario_inputs">
              <div class="contenedor_boton_login">
                <button type="submit" class="boton_login">
                  Iniciar Sesión
                </button>
              </div>
            </div>
            <div class="contenedor_formulario_inputs">
              <div class="contenedor_boton_signup">
                <a href="registro/" class="boton_signup">Registrarse</a>
              </div>
            </div>
          </form>
          <script>
            document
              .getElementById("login-form")
              .addEventListener("submit", function (event) {
                event.preventDefault(); // Prevenir el envío del formulario

                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;

                auth
                  .signInWithEmailAndPassword(email, password)
                  .then((userCredential) => {
                    // Usuario autenticado
                    return db
                      .collection("usuarios")
                      .where("email", "==", email)
                      .get(); // Consultar por el campo "email"
                  })
                  .then((querySnapshot) => {
                    if (!querySnapshot.empty) {
                      const doc = querySnapshot.docs[0]; // Obtener el primer documento que coincida
                      const tipoUsuario = doc.data().tipo;
                      if (tipoUsuario === 1) {
                        window.location.href = "/menu/monitorista";
                      } else if (tipoUsuario === 3) {
                        window.location.href = "/menu/chofer";
                      } else {
                        // Manejar otros tipos de usuario o errores
                        alert("Tipo de usuario no válido");
                      }
                    } else {
                      // Manejar el caso en que el usuario no existe
                      alert("El usuario no existe");
                    }
                  })
                  .catch((error) => {
                    alert("Error al iniciar sesión: " + error.message);
                  });
              });
          </script>
        </div>
      </div>
    </section>
  </body>
</html>
