{% extends 'conex/Encabezado_monitorista.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {%load static%}
        <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
        <title>Menú</title>
    </head>
    <body>
        <section class="menu_contenedor_principal">
            <div class="menu_contenedor_titulo">
                <h2 class="menu_titulo">Bienvenido "usuario"</h2>
            </div>
            <div class="menu_contenedor_contenido">

                <div class="menu_contenido_enlace">
                    <div class="menu_contenido_enlace_juntos">
                            <a href="/asignacion/">
                            <div class="menu_contenedor_enlace_imagen">
                                <img class="menu_chofer_viajesDisponibles" src="{% static 'TransporteApp/monitorista_asignar.png' %}" alt="Asignar viajes">
                            </div>
                            <div class="menu_contenedor_enlace_titulo">
                                <div class="menu_enlace_titulo">Asignar Viaje</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="menu_contenido_enlace">
                    <div class="menu_contenido_enlace_juntos">
                            <a href="/viajes/">
                            <div class="menu_contenedor_enlace_imagen">
                                <img class="menu_chofer_viajesDisponibles" src="{% static 'TransporteApp/monitorista_estados.png' %}" alt="Estado de los viajes">
                            </div>
                            <div class="menu_contenedor_enlace_titulo">
                                <div class="menu_enlace_titulo">Estado de Viajes</div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </body>
</html>
{% endblock %}
