{% extends 'conex/Encabezado_monitorista.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static%}
        <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
        <title>Asignar Viaje</title>
    </head>
    <body>
        <section>
            <div class="asignar_contenedor_titulo">
                <div class="asignar_contenedor_titulo">
                    <h2 class="asignar_titulo">Asignar Viaje</h2>
                </div>
            </div>
            <div class="asignar_contenedor_contenido">
                <form id="formulario-viaje">
                    {% csrf_token %} 
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="cporte">
                            <span class="asignar_titulo_input"># Carta porte</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <input type="text" class="asignar_input" name="cporte" id="cporte" placeholder="# Carta porte">
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="camion">
                            <span class="asignar_titulo_input">Camion</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <select name="camion" id="camion" class="asignar_input" placeholder="Camion">
                                {% for camion in vehiculos %}
                                  <option value="{{ camion.vehiculo }}">{{ camion.vehiculo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="caja">
                            <span class="asignar_titulo_input">Caja</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <input type="text" class="asignar_input" name="caja" id="caja" placeholder="Caja">
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="chofer">
                            <span class="asignar_titulo_input">Chofer</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <select name="chofer" id="chofer" class="asignar_input" placeholder="Chofer">
                                {% for chofer in choferes %}
                                  <option value="{{ chofer.nombre }}">{{ chofer.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="origen">
                            <span class="asignar_titulo_input">Origen</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <input type="text" class="asignar_input" name="origen" id="origen" placeholder="Origen">
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="destino">
                            <span class="asignar_titulo_input">Destino</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <input type="text" class="asignar_input" name="destino" id="destino" placeholder="Destino">
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="sello">
                            <span class="asignar_titulo_input">No. de Sello</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <input type="text" class="asignar_input" name="sello" id="sello" placeholder="No. de Sello">
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="cliente">
                            <span class="asignar_titulo_input">Cliente</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <select name="cliente" id="cliente" class="asignar_input" placeholder="Cliente">
                                {% for cliente in clientes %}
                                  <option value="{{ cliente.nombre }}">{{ cliente.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <div class="contenedor_boton_asignacion">
                            <button type="button" onclick="crearViaje()" class="boton_asignacion">Asignar Viaje</button>
                        </div>
                    </div>
                </form>
                <script>
                    function crearViaje() {
                      // Obtener los datos del formulario
                      var formData = new FormData(document.getElementById('formulario-viaje'));
                    
                      // Enviar la petición AJAX
                      fetch('/crear_viaje/', {
                        method: 'POST',
                        body: formData
                      })
                      .then(response => response.json())
                      .then(data => {
                        if (data.mensaje) {
                            window.location.href = '/viajes/estados';  
                          // Puedes redirigir a otra página o actualizar la vista
                        } else if (data.error) {
                          alert('Error: ' + data.error);  // Mostrar mensaje de error
                        }
                      })
                      .catch(error => {
                        console.error('Error:', error);
                        alert('Ocurrió un error al crear el viaje.');
                      });
                    }
                    </script>
            </div>
        </section>
    </body>
</html>
{% endblock %}