{% extends 'conex/Encabezado_monitorista.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
    <title>Información</title>
  </head>
  <body>
    <section class="monitoreo_contenedor_principal">
      <div class="monitoreo_contenedor_titulo">
        <h2 class="monitoreo_titulo">Monitoreo de Viaje</h2>
      </div>
      <div class="monitoreo_contenedor_contenido">
        <div class="monitoreo_contenedor_informacion">
          <div class="monitoreo_contenedor_imagen">
            <p>Imagén</p>
          </div>
          <div class="monitoreo_contenedor_datos">
            <p>Información de viaje</p>
          </div>
        </div>
        <div class="monitoreo_contenedor_botones">
          <a href="#" class="boton_tiempo">Tiempo Transcurrido</a>
          <a href="#" class="boton_regresar">Regresar</a>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}
