{% extends 'conex/Encabezado_monitorista.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static%}
        <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
        <title>Editar Cliente</title>
    </head>
    <body>
        <section>
            <div class="asignar_contenedor_titulo">
                <div class="asignar_contenedor_titulo">
                    <h2 class="asignar_titulo">Editar Cliente</h2>
                </div>
            </div>
            <div class="asignar_contenedor_contenido">
                <form id="formulario-viaje">
                    {% csrf_token %} 
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="correo">
                            <span class="asignar_titulo_input">Correo</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <input type="email" class="asignar_input" name="correo" id="correo" placeholder="Correo">
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <label for="nombre">
                            <span class="asignar_titulo_input">Nombre</span>
                        </label>
                        <div class="asignar_contenedor_input">
                            <input type="text" class="asignar_input" name="nombre" id="nombre" placeholder="Nombre">
                        </div>
                    </div>

                    <div class="asignar_contenedor_formulario_inputs">
                        <div class="contenedor_boton_asignacion">
                            <button type="button" class="editar_boton_asignacion">Confirmar</button>
                        </div>
                    </div>
                    <div class="asignar_contenedor_formulario_inputs">
                        <div class="contenedor_boton_asignacion">
                            <button type="button" class="eliminar_boton_asignacion">Eliminar</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
{% endblock %}