{% extends 'conex/Encabezado_monitorista.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
    <title>Viajes</title>
  </head>
  <body>
    <section class="viajes_contenedor_principal">
        <div class="viajes_contenedor_titulo">
            <h2 class="viajes_titulo">Monitoreo de Viajes</h2>
        </div>
        <div class="viajes_contenedor_contenido">
            <div class="viajes_contenedor_viaje">
                <div class="viajes_contenedor_imagen">
                    <p>Aquí va una imagen</p>
                </div>
                <div class="viajes_contenedor_informacion">
                    <p class="viajes_informacion"><strong>Titulo: </strong>Información</p>
                </div>
                <div class="viajes_contenedor_boton">
                    <a href="/informacion/" class="viajes_boton_noiniciado">No Iniciado</a>
                </div>
            </div>
            <div class="viajes_contenedor_viaje">
                <div class="viajes_contenedor_imagen">
                    <p>Aquí va una imagen</p>
                </div>
                <div class="viajes_contenedor_informacion">
                    <p class="viajes_informacion"><strong>Titulo: </strong>Información</p>
                </div>
                <div class="viajes_contenedor_boton">
                    <a href="/informacion/" class="viajes_boton_encurso">12:45</a>
                </div>
            </div>
            <div class="viajes_contenedor_viaje">
                <div class="viajes_contenedor_imagen">
                    <p>Aquí va una imagen</p>
                </div>
                <div class="viajes_contenedor_informacion">
                    <p class="viajes_informacion"><strong>Titulo: </strong>Información</p>
                </div>
                <div class="viajes_contenedor_boton">
                    <a href="/informacion/" class="viajes_boton_completado">Completado</a>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>
{% endblock %}
