<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'TransporteApp/style.css' %}" />
    <title>Registrarse</title>

    <!-- Loader -->
    <script>
      window.addEventListener("load", () => {
        const loader = document.querySelector(".content-loader");
    
        loader.classList.add("content-hidden")
        loader.addEventListener("transitionend", () => {
          document.body.removeChild(loader);
        });
      });
    </script>
  </head>

  <body>
    <div class="content-loader">
      <div class="loader"></div>
    </div>

    <section class="contenedor_principal">
      <div class="contenedor_formulario">
        <div class="contenedor_formulario_titulo">
          <h2 class="formulario_titulo">Nuevo Usuario</h2>
        </div>
        <div class="contenedor_formulario_cuerpo">
          <form method="post" action="#" name="signup-form" id="signup-form"> 
            {% csrf_token %}
            <div class="contenedor_formulario_inputs">
              <label for="nombre">
                <span class="input_titulo"> Nombre </span>
              </label>
              <div class="contenedor_input_contenido">
                <input
                  type="text"
                  class="input_contenido"
                  id="nombre"
                  placeholder="Nombre"
                  name="nombre"
                />
              </div>
            </div>
            <div class="contenedor_formulario_inputs">
              <label for="correo">
                <span class="input_titulo"> Correo </span>
              </label>
              <div class="contenedor_input_contenido">
                <input
                  type="text"
                  class="input_contenido"
                  id="correo"
                  placeholder="Correo"
                  name="email"
                />
              </div>
            </div>
            <div class="contenedor_formulario_inputs">
              <label for="password">
                <span class="input_titulo"> Contraseña  </span>
              </label>
              <div class="contenedor_input_contenido">
                <input
                  type="password"
                  class="input_contenido"
                  id="password"
                  placeholder="Contraseña"
                  name="password"
                />
              </div>
            </div>
            <div class="contenedor_formulario_inputs">
              <label for="telefono">
                <span class="input_titulo"> Teléfono </span>
              </label>
              <div class="contenedor_input_contenido">
                <input
                  type="tel"
                  class="input_contenido"
                  id="telefono"
                  placeholder="Teléfono"
                  name="telefono"
                />
              </div>
            </div>
            <div class="contenedor_formulario_inputs">
              <label for="rol">
                <span class="input_titulo"> Rol </span>
              </label>
              <div class="contenedor_input_contenido">
                <select
                  name="rol"
                  id="rol"
                  class="input_contenido"
                  placeholder="Rol"
                  style="width: 100%"
                >
                  <option value=1>Monitorista</option>
                  <option value=3>Chofer</option>
                </select>
              </div>
            </div>
            <div class="contenedor_formulario_inputs">
              <div class="contenedor_boton_login">
                <button type="submit" class="boton_login">Registrarse</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="contenedor_logo">
        <img
          src="{% static 'TransporteApp/logo.png' %}"
          class="logo"
          alt="Logo de la empresa"
        />
      </div>
    </section>
    <script>
      document.getElementById('signup-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevenir el envío por defecto
    
        // Obtener los datos del formulario
        const formData = new FormData(this);
    
        // Realizar la petición AJAX
        fetch("{% url 'signup' %}", {
          method: 'POST',
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // Redirigir al login
            window.location.href = "{% url 'login' %}"; 
          } else {
            // Mostrar mensaje de error
            alert(data.error); 
          }
        })
        .catch(error => {
          console.error('Error en la petición AJAX:', error);
        });
      });
    </script>
  </body>
</html>
