* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1c1c21;
}

/* ----------------------------------------------------------------------------------
                                    
                                      MENÚS

------------------------------------------------------------------------------------- */
.menu_chofer_viajesDisponibles {
  filter: drop-shadow(-2px 2px 15px rgba(255, 255, 255, 0.5));
  width: 150px;
}

.menu_titulo {
  color: #fafafa;
  text-align: center;
}

.menu_contenedor_titulo {
  margin-bottom: 30px;
}

.menu_contenedor_contenido {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.menu_contenido_enlace {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 40%;
  height: 300px;

  display: flex;
  justify-content: center;

  margin-bottom: 30px;
}

.menu_contenedor_enlace_imagen {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 100%;
}

.menu_contenedor_enlace_titulo {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 20px;
}

.menu_contenido_enlace_juntos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu_contenido_enlace_juntos:active {
  transform: scale(0.96);
}

.enlace_prueba {
  margin: 0 auto;
}

.menu_enlace_titulo {
  font-weight: 700;
}


/* ----------------------------------------------------------------------------------
                                    
                        INICIAR SESION  /   REGISTRARSE

------------------------------------------------------------------------------------- */
.logo {
  filter: drop-shadow(-2px 2px 15px rgba(255, 255, 255, 0.5));
  width: 100%;
}

.formulario_titulo {
  color: #fafafa;
}

.input_titulo {
  color: #fafafa;
}

.contenedor_formulario_titulo {
  margin-bottom: 30px;
}

.input_contenido {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 50vh;
}

.input_contenido::placeholder {
  color: #d6d6de;
  opacity: 0.5;
}

.enlace_contrasena {
  text-decoration: none;
  color: #d6d6de;
}

.boton_login {
  color: #fafafa;
  background-color: #617afa;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton_login:active {
  transform: scale(0.96);
}

.boton_signup {
  text-decoration: none;
  color: #fafafa;
  background-color: #586088;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 13px 21vh;
  max-width: 100%;
}

.contenedor_boton_login {
  margin-top: 20px;
}

.contenedor_boton_signup {
  margin-top: 30px;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.contenedor_boton_signup:active {
  transform: scale(0.96);
}

.contenedor_formulario_inputs {
  margin-bottom: 10px;
}

.contenedor_input_contenido {
  margin-top: 10px;
}

.contenedor_formulario_titulo {
  text-align: center;
}

.contenedor_principal {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Ajuste base para dispositivos móviles */
@media (max-width: 768px) {
  .contenedor_principal {
    flex-direction: column;
    padding: 20px;
  }

  .contenedor_logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .contenedor_formulario {
    width: 100%;
  }

  .input_contenido,
  .boton_login,
  .boton_signup {
    width: 96%;
  }

  .contenedor_formulario_titulo,
  .contenedor_boton_signup,
  .contenedor_boton_login {
    text-align: center;
  }

  .boton_signup {
    padding: 15px 38%;
  }
}

/* Ajuste adicional para pantallas muy pequeñas */
@media (max-width: 480px) {
  .input_contenido {
    padding: 10px;
  }

  .boton_login,
  .boton_signup {
    padding: 12px;
    font-size: 1rem;
  }

  .boton_signup {
    padding: 12px 33%;
  }
}

/* ----------------------------------------------------------------------------------
                                    
                            CHOFER - CREAR REPORTE

------------------------------------------------------------------------------------- */
/* Estilos generales */
.reportes_formulario_titulo,
.reportes_input_titulo {
  color: #fafafa;
}

.reportes_contenedor_formulario_titulo {
  margin-bottom: 20px;
  text-align: center;
}

/* Contenedor del formulario principal */
.reportes_contenedor_principal {
  height: 75vh;
  align-items: center;
  justify-content: center;
}

/* Contenedor del formulario */
.reportes_contenedor_formulario_inputs {
  margin-bottom: 15px;
  padding: 10px 10vh;
}

/* Estilos de los inputs y textarea */
.reportes_input_contenido,
.reportes_textarea {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 100%; /* Ajuste a todo el ancho disponible */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

.reportes_input_contenido::placeholder,
.reportes_textarea::placeholder {
  color: #d6d6de;
  opacity: 0.5;
}

/* Ajustes para el botón de envío */
.reportes_boton_submit {
  text-decoration: none;
  color: #fafafa;
  background-color: #586088;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px;
  width: 100%;
  margin-top: 10px;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.reportes_boton_submit:active {
  transform: scale(0.96);
}
/* Contenedor para el botón de envío */
.reportes_contenedor_boton_submit {
  text-align: center;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .reportes_input_contenido,
  .reportes_textarea {
    padding: 12px;
    width: 100%;
    max-width: 100%;
  }

  .reportes_boton_submit {
    padding: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .reportes_input_contenido,
  .reportes_textarea {
    padding: 10px;
  }

  .reportes_boton_submit {
    padding: 10px;
    font-size: 0.9rem;
  }
}

/* ----------------------------------------------------------------------------------
                                    
                          CHOFER - VIAJES DISPONIBLES

------------------------------------------------------------------------------------- */
.disponible_titulo {
  color: #fafafa;
}

.disponible_titulo {
  color: #fafafa;
}

.disponible_contenedor_viaje {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 95%;

  display: flex;
  justify-content: space-around;
}

.disponible_boton_cancelado {
  color: #fafafa;
  background-color: #fa6161;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
}

.disponible_boton_aceptar {
  color: #fafafa;
  background-color: #fad34a;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.disponible_boton_aceptado {
  color: #fafafa;
  background-color: #4dfa4a;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.disponible_contenedor_titulo {
  text-align: center;
}

.disponible_contenedor_viaje {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.disponible_contenedor_titulo {
  margin-bottom: 30px;
}

.disponible_contenedor_boton {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.disponible_contenedor_boton:active {
  transform: scale(0.96);
}

/* ----------------------------------------------------------------------------------
                                    
                            CHOFER - SUBIR EVIDENCIA

------------------------------------------------------------------------------------- */
.evidencia_titulo {
  color: #fafafa;
}

.evidencia_contenedor_titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.evidencia_contenedor_contenido {
  height: 80vh;
  width: 80%;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1%;
}

.evidencia_contenedor_botones_juntos {
  display: flex;
  flex-direction: row;
}

.boton_enviar {
  color: #fafafa;
  background-color: #fad34a;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
  margin-right: 10%;
}

.boton_regresar {
  text-decoration: none;
  color: #fafafa;
  background-color: #586088;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 10%;
}

.evidencia_contenedor_boton_enviar {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.evidencia_contenedor_boton_enviar:active {
  transform: scale(0.96);
}

.evidencia_contenedor_formulario {
  display: flex;
  align-items: end;
  margin-bottom: 2%;
}

.evidencia_contenedor_boton_enviar {
  display: flex;
  justify-content: space-evenly;
}

/* ----------------------------------------------------------------------------------
                                    
                        MONITARISTA - ASIGNAR VIAJE

------------------------------------------------------------------------------------- */
/* Estilos generales */
.asignar_titulo,
.asignar_titulo_input {
  color: #fafafa;
}

.asignar_contenedor_titulo {
  margin-bottom: 20px;
  text-align: center;
}

.asignar_contenedor_contenido {
  justify-content: center;
  padding: 10px 10vh;
}

/* Contenedor del formulario */
.asignar_contenedor_formulario_inputs {
  margin-bottom: 15px;
}

/* Estilos de los inputs y select */
.asignar_input {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 100%; /* Ajuste a todo el ancho disponible */
  box-sizing: border-box;
}

.asignar_input::placeholder {
  color: #d6d6de;
  opacity: 0.5;
}

.asignar_contenedor_input {
  margin-top: 10px;
}

/* Botón de asignación */
.boton_asignacion {
  color: #fafafa;
  background-color: #586088;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 100%;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton_asignacion:active {
  transform: scale(0.96);
}

.contenedor_boton_asignacion {
  text-align: center;
  margin-top: 30px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .asignar_contenedor_titulo {
    margin-bottom: 15px;
  }

  .asignar_input {
    padding: 12px;
    width: 100%;
    max-width: 100%;
  }

  .boton_asignacion {
    padding: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .asignar_input {
    padding: 10px;
  }

  .boton_asignacion {
    padding: 10px;
    font-size: 0.9rem;
  }
}

/* ----------------------------------------------------------------------------------
                                    
                      MONITARISTA - MONITOREO DE VIAJE (TODOS)

------------------------------------------------------------------------------------- */
.viajes_titulo {
  color: #fafafa;
}

.viajes_titulo {
  color: #fafafa;
}

.viajes_contenedor_viaje {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 95%;

  display: flex;
  justify-content: space-around;
}

.viajes_contenedor_boton {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.viajes_contenedor_boton:active {
  transform: scale(0.96);
}

.viajes_boton_noiniciado {
  color: #fafafa;
  background-color: #fa6161;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
}

.viajes_boton_encurso {
  color: #fafafa;
  background-color: #fad34a;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.viajes_boton_completado {
  color: #fafafa;
  background-color: #4dfa4a;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.viajes_contenedor_titulo {
  text-align: center;
}

.viajes_contenedor_viaje {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.viajes_contenedor_titulo {
  margin-bottom: 30px;
}

/* ----------------------------------------------------------------------------------
                                    
                      MONITARISTA - MONITOREO DE VIAJE (SOLO)

------------------------------------------------------------------------------------- */
.monitoreo_titulo {
  color: #fafafa;
}

p {
  color: #fafafa;
}

.monitoreo_contenedor_titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.monitoreo_contenedor_contenido {
  height: 80vh;
  width: 80%;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1%;
}

.boton_tiempo {
  text-decoration: none;
  color: #fafafa;
  background-color: #fad34a;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 21vh;
}

.boton_regresar {
  padding: 15px 21vh;
}

.monitoreo_contenedor_informacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.monitoreo_contenedor_botones_juntos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.monitoreo_contenedor_botones {
  display: flex;
  align-items: center;
  margin-top: 1%;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.monitoreo_contenedor_botones:active {
  transform: scale(0.96);
}


/* ----------------------------------------------------------------------------------
                                    
                                      CRUD

------------------------------------------------------------------------------------- */
.editar_boton_asignacion {
  color: #fafafa;
  background-color: #4dfa4a;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 100%;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.editar_boton_asignacion:active {
  transform: scale(0.96);
}

.eliminar_boton_asignacion {
  color: #fafafa;
  background-color: #fa6161;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 100%;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.eliminar_boton_asignacion:active {
  transform: scale(0.96);
}

