* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

body {
    background-color: #1C1C21;
}


/* ----------------------------------------------------------------------------------
                                    
                        INICIAR SESION  /   REGISTRARSE

------------------------------------------------------------------------------------- */
.logo {
    filter: drop-shadow(-2px 2px 15px rgba(255, 255, 255, 0.5));
}

.formulario_titulo {
    color: #FAFAFA;
}

.input_titulo {
    color: #FAFAFA;
}

.contenedor_formulario_titulo {
    margin-bottom: 30px;
}

.input_contenido {
    color: #D6D6DE;
    background-color: #212429;
    border: 2px solid #4F5461;
    border-radius: 15px;
    padding: 15px;
    width: 50vh;
}

.input_contenido::placeholder {
    color: #D6D6DE;
    opacity: .5;
}

.enlace_contrasena {
    text-decoration: none;
    color: #D6D6DE;
}

.boton_login {
    color: #FAFAFA;
    background-color: #617AFA;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    width: 55vh;
}

.boton_signup {
    text-decoration: none;
    color: #FAFAFA;
    background-color: #586088;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    padding: 15px 21vh;
}

.contenedor_boton_signup {
    margin-top: 30px;
}

.contenedor_formulario_inputs {
    margin-bottom: 10px;
    
}

.contenedor_input_contenido {
    margin-top: 10px;
}

.contenedor_formulario_titulo {
    text-align: center;
}

.contenedor_principal {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* ----------------------------------------------------------------------------------
                                    
                            CHOFER - CREAR REPORTE

------------------------------------------------------------------------------------- */
.reportes_formulario_titulo {
    color: #FAFAFA;
}

.reportes_input_titulo {
    color: #FAFAFA;
}

.reportes_contenedor_formulario_titulo {
    margin-bottom: 30px;
}

.reportes_input_contenido {
    color: #D6D6DE;
    background-color: #212429;
    border: 2px solid #4F5461;
    border-radius: 15px;
    padding: 15px ;
    width: 145vh;
}

.reportes_input_contenido::placeholder {
    color: #D6D6DE;
    opacity: .5;
}

.reportes_textarea::placeholder {
    color: #D6D6DE;
    opacity: .5;
}

.reportes_textarea {
    color: #D6D6DE;
    background-color: #212429;
    border: 2px solid #4F5461;
    border-radius: 15px;
    width: 150vh;
}

.reportes_boton_submit {
    text-decoration: none;
    color: #FAFAFA;
    background-color: #586088;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    padding: 15px 72vh;
    margin-top: 10px;
}

.reportes_contenedor_formulario_inputs {
    margin-bottom: 10px;
    
}

.reportes_contenedor_input_contenido {
    margin-top: 10px;
}

.reportes_contenedor_formulario_titulo {
    text-align: center;
}

.reportes_contenedor_principal {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------------------------------------------------------------------
                                    
                            CHOFER - SUBIR EVIDENCIA

------------------------------------------------------------------------------------- */
.evidencia_titulo {
    color: #FAFAFA;
}

.evidencia_contenedor_titulo {
    display: flex;
    justify-content: center;
}

.evidencia_contenedor_contenido {
    height: 80vh;
    background-color: #212429;
    border: 2px solid #4F5461;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.boton_enviar {
    color: #FAFAFA;
    background-color: #FAD34A;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    width: 55vh;
}

.boton_regresar {
    text-decoration: none;
    color: #FAFAFA;
    background-color: #586088;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    padding: 15px 21vh;
}

.evidencia_contenedor_formulario {
    display: flex;
    align-items: end;
    margin-bottom: 2%;
}