* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1c1c21;
}

/* ----------------------------------------------------------------------------------
                                    
                        INICIAR SESION  /   REGISTRARSE

------------------------------------------------------------------------------------- */
.logo {
  filter: drop-shadow(-2px 2px 15px rgba(255, 255, 255, 0.5));
}

.formulario_titulo {
  color: #fafafa;
}

.input_titulo {
  color: #fafafa;
}

.contenedor_formulario_titulo {
  margin-bottom: 30px;
}

.input_contenido {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 50vh;
}

.input_contenido::placeholder {
  color: #d6d6de;
  opacity: 0.5;
}

.enlace_contrasena {
  text-decoration: none;
  color: #d6d6de;
}

.boton_login {
  color: #fafafa;
  background-color: #617afa;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
}

.boton_signup {
  text-decoration: none;
  color: #fafafa;
  background-color: #586088;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 21vh;
}

.contenedor_boton_signup {
  margin-top: 30px;
}

.contenedor_formulario_inputs {
  margin-bottom: 10px;
}

.contenedor_input_contenido {
  margin-top: 10px;
}

.contenedor_formulario_titulo {
  text-align: center;
}

.contenedor_principal {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ----------------------------------------------------------------------------------
                                    
                            CHOFER - CREAR REPORTE

------------------------------------------------------------------------------------- */
.reportes_formulario_titulo {
  color: #fafafa;
}

.reportes_input_titulo {
  color: #fafafa;
}

.reportes_contenedor_formulario_titulo {
  margin-bottom: 30px;
}

.reportes_input_contenido {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 145vh;
}

.reportes_input_contenido::placeholder {
  color: #d6d6de;
  opacity: 0.5;
}

.reportes_textarea::placeholder {
  color: #d6d6de;
  opacity: 0.5;
}

.reportes_textarea {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  width: 150vh;
}

.reportes_boton_submit {
  text-decoration: none;
  color: #fafafa;
  background-color: #586088;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 72vh;
  margin-top: 10px;
}

.reportes_contenedor_formulario_inputs {
  margin-bottom: 10px;
}

.reportes_contenedor_input_contenido {
  margin-top: 10px;
}

.reportes_contenedor_formulario_titulo {
  text-align: center;
}

.reportes_contenedor_principal {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ----------------------------------------------------------------------------------
                                    
                          CHOFER - VIAJES DISPONIBLES

------------------------------------------------------------------------------------- */
.disponible_titulo {
  color: #fafafa;
}

.disponible_titulo {
  color: #fafafa;
}

.disponible_contenedor_viaje {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 145vh;

  display: flex;
  justify-content: space-around;
}

.disponible_boton_cancelado {
  color: #fafafa;
  background-color: #FA6161;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
}

.disponible_boton_aceptar {
  color: #fafafa;
  background-color: #FAD34A;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.disponible_boton_aceptado {
  color: #fafafa;
  background-color: #4DFA4A;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.disponible_contenedor_titulo {
  text-align: center;
}

.disponible_contenedor_viaje {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.disponible_contenedor_titulo {
  margin-bottom: 30px;
}


/* ----------------------------------------------------------------------------------
                                    
                            CHOFER - SUBIR EVIDENCIA

------------------------------------------------------------------------------------- */
.evidencia_titulo {
  color: #fafafa;
}

.evidencia_contenedor_titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.evidencia_contenedor_contenido {
  height: 80vh;
  width: 80%;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.boton_enviar {
  color: #fafafa;
  background-color: #fad34a;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
}

.boton_regresar {
  text-decoration: none;
  color: #fafafa;
  background-color: #586088;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 21vh;
}

.evidencia_contenedor_formulario {
  display: flex;
  align-items: end;
  margin-bottom: 2%;
}


/* ----------------------------------------------------------------------------------
                                    
                        MONITARISTA - ASIGNAR VIAJE

------------------------------------------------------------------------------------- */
.asignar_titulo {
  color: #fafafa;
}

.asignar_titulo_input {
  color: #fafafa;
}

.asignar_contenedor_titulo {
  margin-bottom: 30px;
}

.asignar_input {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 145vh;
}

.asignar_input::placeholder {
  color: #d6d6de;
  opacity: 0.5;
}

.boton_asignacion {
  color: #fafafa;
  background-color: #586088;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
}

.asignar_contenedor_formulario_inputs {
  margin-bottom: 10px;
}

.asignar_contenedor_input {
  margin-top: 10px;
}

.asignar_contenedor_titulo {
  text-align: center;
}

.asignar_contenedor_contenido {
  display: flex;
  justify-content: center;
}

.contenedor_boton_asignacion {
  text-align: center;
}


/* ----------------------------------------------------------------------------------
                                    
                      MONITARISTA - MONITOREO DE VIAJE (TODOS)

------------------------------------------------------------------------------------- */
.viajes_titulo {
  color: #fafafa;
}

.viajes_titulo {
  color: #fafafa;
}

.viajes_contenedor_viaje {
  color: #d6d6de;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  padding: 15px;
  width: 145vh;

  display: flex;
  justify-content: space-around;
}

.viajes_boton_noiniciado {
  color: #fafafa;
  background-color: #FA6161;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 55vh;
}

.viajes_boton_encurso {
  color: #fafafa;
  background-color: #FAD34A;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.viajes_boton_completado {
  color: #fafafa;
  background-color: #4DFA4A;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  width: 200px;
}

.viajes_contenedor_titulo {
  text-align: center;
}

.viajes_contenedor_viaje {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.viajes_contenedor_titulo {
  margin-bottom: 30px;
}


/* ----------------------------------------------------------------------------------
                                    
                      MONITARISTA - MONITOREO DE VIAJE (SOLO)

------------------------------------------------------------------------------------- */
.monitoreo_titulo {
  color: #fafafa;
}

p {
  color: #fafafa;
}

.monitoreo_contenedor_titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.monitoreo_contenedor_contenido {
  height: 80vh;
  width: 80%;
  background-color: #212429;
  border: 2px solid #4f5461;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.boton_tiempo {
  text-decoration: none;
  color: #fafafa;
  background-color: #fad34a;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: 15px 21vh;
}

.monitoreo_contenedor_informacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.monitoreo_contenedor_botones {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  margin-top: 1%;
}


